/*-------------------------------------------------------------
|                                                              |
|                     Added Classes                            |
|                                                              |
--------------------------------------------------------------*/

.trans {
  transition: 2s;
}

.backgroundH {
  transition-property: opacity;
  transition-duration: 2s;
}


.hide {
  display: none;
}

.show {
  display: '';
}
