/* Cube on a flat 2D Plane
         ___
 ___ ___|_b_|___
|_T_|_L_|_B_|_R_|
        |_f_|

Key:
T = Top
L = Left
B = Bottom
R = Right
b = back
f = front

------------
Visualization of a single perfect square with applied degree rotation
  ____
| ^    | = Rotation on X axis = 0 degree
| ____ | = Rotation on Y axis = 0 degree

  ____
|      | = Rotation on X axis = 180 degree
| v___ | = Rotation on Y axis = 0 degree

  ____
|    ^ | = Rotation on X axis = 0 degree
| ____ | = Rotation on Y axis = 180 degree

Left and rights would be on Y axis based on second demonstration?
Top and Bottoms would be on X axis?
Face remains in same slot.
Back would need to do a full rotation via 180 Degree.

-----------------------

Need 6 divs to represent each face.
Probably best to stack divs on top of each other via absolute positioning.

-----------------------

If ALL 6 squares are stacked on each other....

Front MUST = 0
Therefore Back MUST = 180

*/


body {
  height:100vh;
  background-color: rgba(47,47,47,1);
  overflow: hidden;
  position: relative;
}

.cube-wrapper {
  margin:auto auto;
}


.cube, .face {
  position: absolute;
  top: 40%; /*20vh */
  left: 50%;
}


/*Cube upsidedown
.cube, .face {
  position: absolute;
  bottom: 60%;
  left: 50%;
}*/


/*Cube 90 deg
.cube, .face {
  position: absolute;
  bottom: 60%;
  left: 47.6%;
}*/

/* cube -90 deg
.cube, .face {
  position: absolute;
  top: 47.5%;
  left: 50%;
} */



.cube {
  user-select: none;
  cursor: move;
  transform: rotate(0deg);
  transform-style: preserve-3d;
}

/*Cube 180deg
/*.cube {
  user-select: none;
  cursor: move;
  transform: rotate(180deg);
}*/

/*Cube 90
/*.cube {
  user-select: none;
  cursor: move;
  transform: rotate(90deg);
}*/

/*Cube -90
.cube {
  user-select: none;
  cursor: move;
  transform: rotate(-90deg);
}*/

.face {
  box-sizing: border-box;
  border: solid 1px;
  margin: -8em;
  width: 20em;
  height: 20em;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.6;
  box-shadow: 0px 0px 2px #fff;
}

.cube div span
{
	position: fixed;
	font-size: 2em;
  color: #fff;
  height: 50px;
  width: 50px;
}

.cube div span:nth-child(1) {
  left: 0;
  top: 0;
  /*margin-top: -35px;*/
}

.cube div span:nth-child(2) {
  right: 0;
  top: 0;
  /*margin-right: -25px;
  margin-top: -35px;*/
}

.cube div span:nth-child(3) {
  left: 0;
  bottom: 0;
  /*margin-bottom: -50px;*/
}

.cube div span:nth-child(4) {
  right: 0;
  bottom: 0;
  /*margin-right: -25px;
  margin-bottom: -50px;*/
}
/*
.cube div:nth-child(n+2) span {
  display: none;
}
*/




/*
@keyframes spinner {
  from {transform: rotateY(0deg) rotateX(0deg);}
  to {transform: rotateY(359deg) rotateX(359deg);}
}*/
