@import './cube.css';
@import './animations.css';
@import './addedclasses.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

body {
  height:100vh;
  background-color: rgba(0,0,0,1);
  overflow: hidden;
  position: relative;
  color: rgba(30,233,221,1);
  /*color: rgba(0, 0, 255, 0.6);*/
}

.notice a {color: #fff;}

.notice, .og, .left, .right {
  color: #fff;
  background: rgba(0,0,0,.7);
  height: auto;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  position: absolute;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  z-index: 10;
  transition: display 2s;
}

.button-wrapper {
  display: none;
  /*justify-content: center;*/
  width: 100%;
}
